:root{
    --primary-color: #9943df;
    --secondary-color: #f57341;
    --tertiary-color: #ffc348;
    --color-light: #ffffff;
}
body {
    background-image: url(../img/geometric-bg.jpg);
    background-size: cover;
    font-family: 'Playpen Sans', cursive;
    height: 100vh;
    width: 100vw;
}
.container {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 30px;
}
header h1 {
    font-family: 'Luckiest Guy', cursive;
    font-size: 4em;
    color: var(--primary-color);
}
.fa-circle-xmark {
    color: var(--tertiary-color);
    font-size: 2em;
}
.fa-circle-xmark:hover {
    color: var(--secondary-color);
}
.todo-remove, .todo-text{
    cursor: pointer;
}
.done {
    text-decoration: line-through;
}
.msg {
    font-family: 'Luckiest Guy', cursive;
    font-size: 3em;
    color: var(--secondary-color);
}
.btn {
    background-color: var(--primary-color); 
    color: var(--color-light);
}
.btn:hover {
    background-color: var(--tertiary-color);
    color: var(--secondary-color);
}